body{
    background: rgb(28,239,255);
    background: radial-gradient(circle, rgba(28,239,255,1) 0%, rgba(213,213,187,1) 100%);
}

#topPageDiv{
    color : white;
    height : 60px;
    width :100%;
    background : rgba(45, 88, 91, 0.37);
}

#userInfromationDiv{
    width : 100px;
}

#logoutDiv{
    width : 60px;
    float: left;
}

.courseImage{
    max-height: 80px;
    max-width: 80px;
}

.searchCourseTableContainer{
    width : 80%;
    margin : 50px auto;
}

.searchCourseTableContainer table{
    background : white;
    border-radius : 5px;
}