.courseImage{
    max-height: 80px;
    max-width: 80px;
}

.searchCourseTableContainer{
    width : 80%;
    margin : 50px auto;
}

.searchCourseTableContainer table{
    background : white;
    border-radius : 5px;
}

/* Style the search field */
form.searchCourse input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.searchCourse button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #5bc0de;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.searchCourse button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.searchCourse::after {
  content: "";
  clear: both;
  display: table;
}

#removeSearch{
    background : red !important;
}

.formContainer {
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    margin-left: 50px;
    margin-top: 150px;
}

.formContainer h1::after {
    margin: 0 !important;
    width: inherit;
}

.formContainer a{
    width: 60px;
    height: 30px;
    background: blue;
    border: solid 1px black;
}