<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/dashboard.css' %}" />
    <script type='text/javascript' charset='utf8' src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

</head>
<body>
    <div id="topPageDiv">
        <div id="userInfromationDiv">
            <input type="button" id="editProfile" name="changeInfo" value="Edit Profile"/>
            <div id="firsname_lastname" name="firsname_lastname">{{ firstname }} {{ lastname }}</div>
        </div>
        <div id="logoutDvi"><a href="/logout">Logout</a></div>
    </div>
</body>
</html>