<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/dashboard.css' %}" />
    <script type='text/javascript' charset='utf8' src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

</head>
<body>
    {% include 'headerMenu.html' %}
    <div id="dashboardMenu" dir="rtl">
        <a href="{% url 'search_courses' %}"><img src="{% static 'images/searchCourses.png' %}"></a>
        <a href="{% url 'my_courses' %}"><img src="{% static 'images/myCourses.png' %}"></a>
        <a href="{% url 'edit_profile' %}"><img src="{% static 'images/editProfile.png' %}"></a>
    </div>
</body>
</html>