{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

{# Display a form #}
<form action="{% url 'update_profile_data' %}" method="post" class="form">
  {% csrf_token %}
  <h2>Edit Profile:</h2><br>
  {% bootstrap_form form %}
<!--  {% bootstrap_form userForm %}-->
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Update
    </button>
  {% endbuttons %}
</form>