{% extends 'mainTemplate.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}
<div class="home-sec" id="home" >
           <div class="overlay">
 <div class="container">
           <div class="row text-center " >

               <div class="col-lg-12  col-md-12 col-sm-12">

                <div class="flexslider set-flexi" id="main-section" >
                    <ul class="slides move-me">
                        <!-- Slider 01 -->
                        <li>
                              <h3>Delivering Quality Education</h3>
                           <h1>THE UNIQUE METHOD</h1>
                            {% if username is None %}
                            <a  href="{% url 'login' %}" class="btn btn-info btn-lg" >
                                LOGIN
                            </a>
                            {% endif %}
                            {% if userType == 'instructor' %}
                                <a href="{% url 'create_course' %}" class="btn btn-info btn-lg">CREATE COURSE</a>
                            {% endif %}
                             <a  href="#courseSearch-sec" class="btn btn-success btn-lg" >
                                Search Courses
                            </a>
                        </li>
                        <!-- End Slider 01 -->

                        <!-- Slider 02 -->
                        <li>
                            <h3>Delivering Quality Education</h3>
                           <h1>UNMATCHED APPROACH</h1>
                            {% if username is None %}
                              <a  href="{% url 'login' %}" class="btn btn-primary btn-lg" >
                               LOGIN
                              </a>
                            {% endif %}
                            {% if userType == 'instructor' %}
                                <a href="{% url 'create_course' %}" class="btn btn-info btn-lg">CREATE COURSE</a>
                            {% endif %}
                             <a  href="#courseSearch-sec" class="btn btn-danger btn-lg" >
                                Search Courses
                            </a>
                        </li>
                        <!-- End Slider 02 -->

                        <!-- Slider 03 -->
                        <li>
                            <h3>Delivering Quality Education</h3>
                           <h1>AWESOME FACULTY PANEL</h1>
                            {% if username is None %}
                             <a  href="{% url 'login' %}" class="btn btn-default btn-lg" >
                                LOGIN
                            </a>
                            {% endif %}
                            {% if userType == 'instructor' %}
                                <a href="{% url 'create_course' %}" class="btn btn-info btn-lg">CREATE COURSE</a>
                            {% endif %}
                             <a  href="#courseSearch-sec" class="btn btn-info btn-lg" >
                                Search Courses
                            </a>
                        </li>
                        <!-- End Slider 03 -->
                    </ul>
                </div>




            </div>

               </div>
                </div>
           </div>

       </div>
       <!--HOME SECTION END-->
    <div  class="tag-line" >
         <div class="container">
           <div class="row  text-center" >

               <div class="col-lg-12  col-md-12 col-sm-12">

        <h2 data-scroll-reveal="enter from the bottom after 0.1s" ><i class="fa fa-circle-o-notch"></i> WELCOME TO THE EDU-CENTER <i class="fa fa-circle-o-notch"></i> </h2>
                   </div>
               </div>
             </div>

    </div>
    <!--HOME SECTION TAG LINE END-->
    <!-- courseSearch-sec start -->
    <div id="courseSearch-sec" class="container set-pad" >
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                     <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">Search Courses</h1>
                     <p data-scroll-reveal="enter from the bottom after 0.3s" >
                         <form class="searchCourse" action="{% url 'search_courses' %}" method="post">
                            {% csrf_token %}
                            <input type="text" placeholder="Search.." name="searchCourseInput">
                            <button type="submit" buttonType="search"><i class="fa fa-search"></i></button>
<!--                            <button type="submit" buttonType="removeSearch"><i class="fa fa-cross"></i></button>-->
                        </form>
                     </p>
                 </div>

             </div>
             <!--/.HEADER LINE END-->


           <div class="row searchCourseTableContainer" >
                <table class="table table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">image</th>
                <th scope="col">courseId</th>
                <th scope="col">title</th>
                <th scope="col">price</th>
                <th scope="col">category</th>
            </tr>
        </thead>
        {% for course in courses %}
            <tr title="مشاهده درس" style="cursor:pointer" class="trCourse">
                <td><img class='courseImage' src="{{course.image.url}}"></td>
                <td>{{course.courseId}}</td>
                <td>{{course.title}}</td>
                <td>{{course.price}} $</td>
                <td>{{course.category}}</td>
            </tr>
        {% endfor %}
    </table>
                <div class="pagination">
        <span class="step-links">
            {% if courses.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ courses.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
            </span>

            {% if courses.has_next %}
                <a href="?page={{ courses.next_page_number }}">next</a>
                <a href="?page={{ courses.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
           </div>
    </div>
    <!--  courseSearch-sec End  -->
    {% endblock content %}
